.agebase-domain-manager .table {
    max-width: 1200px;
}

.agebase-domain-manager .table .domain {
    width: 50%;
    padding-left: 0;
}

.agebase-domain-manager .table .node {
    width: 50%;
}

.agebase-domain-manager .table td.node:hover {
    cursor: pointer;
}

.agebase-domain-manager .table .culture {
    display: block;
    width: 100px;
    text-align: center;
}

.agebase-domain-manager .table .action {
    width: 25px;
    text-align: center;
}